<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <form action="/members/new" method="post">
        <div class="form-group">
            <label for="name">이름</label>&nbsp;&nbsp;
            <input type="text" id="name" name="name" placeholder="이름을 입력해주세요.">
        </div></br>
        <div class="form-group">
            <label for="password">비밀번호</label>&nbsp;&nbsp;
            <input type="text" id="password" name="password" placeholder="비밀번호를 입력해주세요.">
        </div></br>
        <div class="form-group">
            <label for="age">나이</label>&nbsp;&nbsp;
            <input type="text" id="age" name="age" placeholder="나이를 입력해주세요.">
        </div>
        </br>
        <div>
            <button type="submit">등록</button>
        </div>
    </form>
</div>

</body>
</html>